streamlit
cryptography
pandas
supabase
Pillow
stepic
streamlit==1.27.0
pandas==2.1.1
numpy==1.26.4
Pillow==10.0.0
opencv-python-headless==4.8.1.78
cryptography==41.0.3
supabase==1.0.0
stepic==1.0.1
pycryptodome==3.19.0